.wrapper {
  position: relative;
  height: 424px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.image {
  width: 276px;
  height: 268px;
  object-fit: cover;
  border-radius: 14px;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.moreBtn {
  width: 276px;
  height: 44px;
  padding: 12px 97px;
  border: none;
  border-radius: 12px;
  background: #3470ff;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  line-height: 125%;
  font-family: "Manrope", sans-serif;
  transition: background 0.8s ease;
}
.moreBtn:hover,
.moreBtn:focus {
  background: #0b44cd;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.carTitle {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 125%;
  color: #101828;
}

.highlight {
  color: #3470ff;
}

.priceTag {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 125%;
  color: #101828;
}

.meta {
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 133%;
  color: #8d929a;
}

.mb {
  margin-bottom: 4px;
}

.favBtn {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 24px;
  height: 24px;
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
